@model tripenticer.Models.Package

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Itinerary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Itinerary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destinations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destinations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PackageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
